@model MVC5App.Models.UserInfoModel

@{
    ViewBag.Title = "UserInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="margin-top: 2em">
<h2 class="">@ViewBag.Title</h2>
<div class="col-md-12">
    <div class="col-md-4">
        <div class="row">
            @Html.Label("Name: ")
            @Html.DisplayFor(l => l.Name)
        </div>

        <div class="row">
            @Html.Label("Email: ")
            @Html.DisplayFor(l => l.UserEmail)
        </div>

        <div class="row">
            @Html.Label("Address: ")
            @Html.DisplayFor(l => l.Address1, "Null")
        </div>
        <div class="row col-md-offset-2">
            @Html.DisplayFor(l => l.Address2, "Null")
        </div>
        <div class="row col-md-offset-2">
            @Html.DisplayFor(l => l.Address3, "Null")
        </div>
        <div class="row">
            @Html.Label("Phone No: ")
            @Html.DisplayFor(l => l.ContactNo)
        </div>
    </div>
    <div class="col-md-6 col-lg-6">
        <table class="table">
            <tr>
                <th>DeviceID</th>
                <th>DeviceDesc</th>
            </tr>
            @foreach (var item in Model.Devices)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Value)</td>
                    <td>@Html.DisplayFor(modelItem => item.Text)</td>
                </tr>
            }
        </table>
    </div>
</div>
</div>